* {
  box-sizing: border-box;
}

.container {
  height: 80vh;
  margin: 50px auto;
  position: relative;
}
.translate-from {
  margin: 20px 0;
}
.see-more {
  margin-top: 20px;
}
#translate-sentence li {
  margin-left: 15px;
}
.add-img {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.voice-wrapper {
  margin: 10px 0; 
}
.voice-img {
  width: 20px;
  height: 20px;
}
.voice-img:hover {
  cursor: pointer;
}
